@font-face {
  font: {
    family: 'Chalet';
    style: normal;
    weight: normal;
  }
  src: url(../fonts/Chalet.eot);
  src: url(../fonts/Chalet.eot?#iefix) format('embebed-opentype'),
    url(../fonts/Chalet.woff) format('woff'),
    url(../fonts/Chalet.ttf) format('truetype'),
    url(../fonts/Chalet.svg#Chalet) format('svg');
}

html {
  color: white;
  background: {
    color: #2b3a42;
    repeat: repeat;
    image: url('../img/webpack-cube.svg');
    position: center;
    attachment: fixed;
    size: 10%;
  }
}

img {
  display: block;
  max-width: 600px;
  height: auto;
}

#app {
  margin: auto;
  padding: 2rem;
  width: 80%;
  min-height: 100vh;
  text-align: center;
  background-color: rgba($color: #2b3a42, $alpha: 0.9);

  // a todos los que sean hijos de app, da igual la etiqueta
  * {
    margin: 2rem auto;
  }
}

.menu {
  display: flex;
  justify-content: space-evenly;

  a {
    color: #8dd6fb;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
